/***            VARIABILI           ***/
:root{
    --main-dashboard-bg-color : #050099;
    --main-dashboard-color : #ffffff;
    --main-dashboard-bg-color-hover : #040088;
    --font : Questrial;
    --desktop-menu-logo-height: 60px;
    --desktop-menu-logo-width: 200px;
    --mobile-menu-logo-height: 80px;
    --main-bg: #ddf9ff;
}
/***        DEFAULT (Mobile)        ***/
body{
    font-family: var(--font);
    margin: 0;
    padding: 0;
    background: var(--main-bg);
}
.mainMenu{
    position: relative;
     background: var(--main-dashboard-bg-color);
}
.menuItem{
    display: block;
    padding: 20px 30px;
    color: var(--main-dashboard-color);
    text-align: left;
    
}
.menuItem:hover{
    background: var(--main-dashboard-bg-color-hover);
}
.newsWrapper{
    padding: 30px;
    display: block;
}
.news{
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #888888;
    background: white;
    margin-top: 30px;
}


/***            DESKTOP         ***/
@media only screen and (orientation: landscape) {
    .mainMenu{
        display:  block;
        table-layout: relative;
        width: 100%;
    }
    .menuItem{
        display: inline-block;
    }
    .login{
        float: right;
    }
    .newsWrapper{
        display: table;
        table-layout: fixed;
        width: 100%;
        border-collapse:separate;
        border-spacing: 50px;
        padding: 0;
    }
    .news{
        display: table-cell;
    }
    
    .inEvidenza{
        width: 33.333%
    }
}